# Ignore Build Output Directories
x64/
Debug/
Release/
bin/
obj/

# Ignore Build Artifacts
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.tmp

# Ignore Visual Studio User/Temp Files
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.cache